* {
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
    top: 0;  
}
a {
    color: black;
}
a:hover {
    color: gray;
}

.logo img{
    height: 3rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin-right: 4rem;
    margin-left: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    font-size: 1.2rem;
}

.nav-list a {
    text-decoration: none;
}

.current {
    text-decoration: underline;
}

.search {
    
    /* background-color: red; */
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
 }

.mobile-nav-icon {
    width: 2rem;
    height: 2rem;
    color: #212529;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}

.main {
    max-width: 60%;
    margin: auto;
    margin-top: 0.1rem;
}

.main h1 {
    margin: 2rem 0;
}
.search input, .search-button {
    font-size: 1rem;
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 8px
}

.search-button {
    background-color: rgb(212, 208, 208);
    cursor: pointer;
}

.first-section video {
    width: 100%;
    height: 50%;
}

.second-section {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.second-section .left p {
    margin-top: 0.5rem;
    text-align: justify;
}

.second-section .right img {
    height: 50%;
    width: 100%;
    margin: 1.5rem 0;
    border: 2px solid black;
    border-radius: 28px;
}

.footer {
    background-color: rgb(209, 207, 207);
}

.footer-link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    font-size: 1rem;
}

.footer-item-link {
    color: black;
}

.copyright {
    text-align: center;
}

@media only screen and (max-width: 764px) {
    .main {
        max-width: 80%;
    }

    .mobile-navbar-btn {
        display: flex;
        position: absolute;
        border: 2px solid black;
        top: 10px;
        right: 5%;
     }

     .header {
        padding: 0.3rem 0.5rem;
     }

     .navbar, .search {
        display: none;
     }

     .logo img{ 
        height: 2.5rem;
        margin: 0;
     }

     /* For Mobile nav button */

     .active {
        flex-direction: column;
     }

     .active .nav-list {
        flex-direction: column;
        margin: 2rem 0;
     }

     .active .navbar, .active .search {
        display: flex;
     }

     .active .search {
        margin: 0;
     }

     .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}